APScheduler==3.6.3
astor==0.8.1
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
decorator==4.4.2
Flask==2.0.1
Flask-APScheduler==1.11.0
Flask-HTTPAuth==4.2.0
gast==0.4.0
h5py==3.2.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
kiwisolver==1.3.1
licsber==2.2.1
MarkupSafe==2.0.1
matplotlib==3.4.2
minio==7.0.4
Naked==0.1.31
numpy==1.20.3
opencv-python==4.5.2.54
paddlepaddle==2.1.0
Pillow==8.2.0
protobuf==3.17.3
pycryptodome==3.10.1
pyDes==2.0.1
pymongo==3.11.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.4
PyYAML==5.3.1
requests==2.25.1
shellescape==3.8.1
six==1.15.0
soupsieve==2.1
tzlocal==2.1
urllib3==1.26.2
Werkzeug==2.0.1
