<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>位置信息更改</title>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css"/>
    <script src="https://cdn.bootcdn.net/ajax/libs/layui/2.5.7/layui.all.min.js"></script>
</head>
<body>
<form class="layui-form" action="{{ url_for('cpdaily.location_submit') }}" method="post"
      style="alignment: center;margin: 10%;font-size: 20px">
    <h1>显示提交成功后证明成功<br>直接点击左上角X关闭</h1>
    <br>
    <h2>位置信息就是签到信息<br>与选择位置尽量不超过半径1km<br>该功能暂时还在内测中</h2>
    <br><br>
    <div class="layui-form-item">
        <label class="layui-form-label">填写微信号</label>
        <div class="layui-input-block">
            <label>
                <input type="text" name="wechat" placeholder="用于联系方式与解除绑定" autocomplete="off" required
                       class="layui-input">
            </label>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">位置信息</label>
        <div class="layui-input-block">
            <label>
                <input type="text" name="location" placeholder="如南京市江宁区学海路"
                       autocomplete="off" required value="{{ location }}"
                       class="layui-input">
            </label>
        </div>
    </div>
    <label>
        <input hidden type="text" name="token" value="{{ token }}">
    </label>
    <br><br>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit>立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
</html>
